@(list: List[Contact])(implicit flash: Flash)

@main("Phonebook") {
	
	<h1>Phonebook</h1>
  
	@if(flash.get("warning")) {
	  <div>@flash.get("warning")</div>
	}

    <ol>
    @for(p <- list) {
       <li><a href="@routes.Application.view(p.id.get)">@p.fullName</a></li>
    }
    </ol>

    <div><a href="@routes.Application.create">Add Contact</a></div>
}